<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Learning_Tracker_IOS 2.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>02CD20657C90C35C4074241136B26351329469CE</string>
				<key>dateExpires</key>
				<string>07.03.19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02CD20657C90C35C4074241136B26351329469CE</string>
						<key>dateExpires</key>
						<string>07.03.19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3CJ75U69JE</string>
						<key>name</key>
						<string>Maxime Richard</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02CD20657C90C35C4074241136B26351329469CE</string>
						<key>dateExpires</key>
						<string>07.03.19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GRDB.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3CJ75U69JE</string>
						<key>name</key>
						<string>Maxime Richard</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02CD20657C90C35C4074241136B26351329469CE</string>
						<key>dateExpires</key>
						<string>07.03.19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftSocket.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3CJ75U69JE</string>
						<key>name</key>
						<string>Maxime Richard</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3CJ75U69JE.wide-world.Learning-Tracker-IOS</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>3CJ75U69JE</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>3CJ75U69JE.wide-world.Learning-Tracker-IOS</string>
				</array>
			</dict>
			<key>name</key>
			<string>Learning_Tracker_IOS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>23fa987c-e125-4aeb-b210-372f2ed431ed</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: wide-world.Learning-Tracker-IOS</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3CJ75U69JE</string>
				<key>name</key>
				<string>Maxime Richard</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
